.footer{
    background: #000000;
    padding-bottom: 1em;
    padding-top: 2em;
    text-align: start;
    color: white;
}
.footer_logo{
    font-weight: bolder;
    font-size: 3em;
    color: #f56315bd;
    padding: .3em;
}

